@import "../var.scss";


@keyframes fadeIn {
    0% {
        opacity: 0;
        r: 10;
    }
    100% {
        opacity: 1;
        r: 310;
    }
}

.show {
    animation: fadeIn 2s linear forwards;
}
.show--withot-animation {
    opacity: 1;
    r: 310;
}



@keyframes app__opacity__elem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.app--opacity {
    animation: app__opacity__elem 3s ease forwards;
}
.app--opacity--withot-animation {
    opacity: 1;
}

@keyframes title__animation {
    0% {
        color: transparent;
        background-size: 0% 95%;
        -webkit-background-size:  0% 95%;
        background-position: left;
    }
    10% {
      color: transparent;
      background-size: 10% 95%;
      -webkit-background-size:  10% 95%;
      background-position: left;
    }
    40% {
        color: transparent;
        background-size: 100% 95%;
        -webkit-background-size:  100% 95%;
        background-position: left;
    }
    60% {
        color: $color_black; 
        background-size: 100% 95%;
        background-position: right;
        -webkit-background-size:  100% 95%;
    }
    90% {
        background-size: 10% 95%;
        background-position: right;
        -webkit-background-size:  10% 95%;
    }
    100% {
        color: $color_black;
        background-size: 0% 95%;
        -webkit-background-size:  0% 95%;
        background-position: right;
    }
}

.title--animation {
    animation: title__animation 1.5s ease-in forwards;
}


@keyframes move__circle__to__right__app {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 900px;
  }
}

.move--to--right{
  animation: move__circle__to__right__app 1.5s ease-in forwards;
}



@keyframes phone__move__right{
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

.phone__move__right{
  animation: phone__move__right 1.5s ease-in forwards;
}
