@import "../var.scss";

@keyframes rotateplus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateminus {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.circle {
    position: fixed;
    height: 960px;
    width: 960px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    &--body{
        position: relative;
    }
}

#circle1,
#circle3 {
    animation: rotateplus 150s ease infinite;
    transform-origin: 50% 50%; /* Set the transform origin to the center of the circles */
}

#circle2 {
    animation: rotateminus 150s ease infinite;
    transform-origin: 50% 50%; /* Set the transform origin to the center of the circles */
}

.circle4 {
    opacity: 0;
}

