@import "../var.scss";

.main__categories {
    z-index: 3;
    &--body {
        display: flex;
        &-1 {
            flex: 1;
            position: relative;
            min-width: 604px;
            overflow: hidden;
        }
        &-2 {
            width: 430px;
        }
    }
    &-title {
        padding-bottom: 279px;
        padding-left: 57px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        white-space: nowrap;
        &-text {
            width: fit-content;
        }
    }

    &--general {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &-parag {
        padding-top: 24px;
        padding-left: 57px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.7px;
        opacity: 0.7;
        width: 308px;
    }
    &-1 {
        background-image: url("../../../public/Images/num1.png");
        width: 201px;
        height: 204px;
        top: 216px;
        left: 10%;
    }
    &-2 {
        background-image: url("../../../public/Images/num2.png");
        width: 146px;
        height: 151px;
        top: 130px;
        left: 44%;
    }
    &-3 {
        background-image: url("../../../public/Images/num3.png");
        width: 248px;
        height: 230px;
        top: 50px;
        left: 64%;
    }
    &-4 {
        background-image: url("../../../public/Images/num4.png");
        width: 166px;
        height: 195px;
        top: 300px;
        left: 40%;
    }
    &-5 {
        background-image: url("../../../public/Images/num5.png");
        width: 160px;
        height: 177px;
        top: 280px;
        left: 70%;
    }
}
