@import "../var.scss";

.main {
    position: relative;
    &__counter {
        width: 450px;
        height: 396px;
        position: fixed;
        top: 130px;
        left: -126px;
        font-size: 400px;
        font-style: normal;
        font-weight: 500;
        line-height: unset;
        letter-spacing: -50px;
        overflow: hidden;
        color: #ede2ff;
    }
    &--uptitle {
        font-family: $font-family-comforter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-image: $gradient1;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &__side-panel {
        opacity: 0;
        &-link {
            position: fixed;
            transform: rotate(-90deg);
            left: -30px;
            bottom: 100px;
            display: flex;
            column-gap: 25px;
        }
        &-text {
            position: fixed;
            background-image: $gradient1;
            background-image: $gradient1;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            transform: rotate(-90deg);
            top: 250px;
            right: -100px;
        }
        &-scrolltext {
            position: fixed;
            transform: rotate(-90deg);
            bottom: 150px;
            right: -6px;
        }
        &-scroll {
            position: fixed;
            bottom: 50px;
            right: 0px;
        }
    }
    &__invite {
        padding: 90px 0 143px 0;
        max-width: 100vw;
        width: 100%;
        &-title {
            color: inherit;
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-left: 57px;
        }
        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0;
            height: 48px;
            padding: 18px 42px;
            white-space: nowrap;
        }
        &-parag {
            text-align: justify;
            opacity: 0.7;
            max-width: 500px;
        }
    }
}

.main--general--titles {
    font-size: inherit;
    height: fit-content;
    color: transparent;
    &--bg {
        background-image: linear-gradient(#232323, #232323);
        background-repeat: no-repeat;
        height: fit-content;
        width: fit-content;
        background-position: left;
        background-size: 0 95%;
    }

}
