.phone {
    position: fixed;
    top: 91px;
    right: 150px;
    width: 282px;
    height: 574px;
    z-index: 5;
    &--circle {
        position: absolute;
        top: calc(-91px + 50vh);
        left: calc(-1 * (100vw / 2 + 470px));
        transform: translate(50%, -50%);
        z-index: 3;
    }
    &__screen {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 307px;
        height: 624px;
        background-repeat: no-repeat;
        background-image: url("../../../public/Images/phone.png");
    }
    &__block {
        position: absolute;
        bottom: 0;
    }
}

.phone__anim_spr {
    position: fixed;
    top: 93px;
    right: 30%;
    z-index: 10;
}

.site--line {
    position: absolute;
    right: 30%;
    top: 30px;
    z-index: 4;
    width: 0;
    &-img {
        margin-left: 13px;
        background-image: url("../../../public/Images/site.png");
        background-size: cover;
        width: 256px;
        height: 1217px;
        z-index: 5;
    }
}
